
#searchResult {
    list-style: none;
    padding: 0px;
    width: 93%;
    position: absolute;
    margin-top: 57px;
}
#searchResult li{
    background: lavender;
    padding: 4px;
    margin-bottom: 1px;
}

#searchResult li:nth-child(even){
    background: cadetblue;
    color: white;
}

#searchResult li:hover{
    cursor: pointer;
}

/* media query */
@media screen and (max-width:800px){

}

@media screen and (max-width:480px){


    #searchResult{
        width: 80%;
    }
}

.doctor-search select {
    padding: 8px;
    padding: 10px 30px;
    height: 45px;
}

.doctor-search > input {
    border: 1px solid #666767;
    width: 100% !important;
    border-radius: 70px; 
    }
.main-slider-banner img{
   width: 35%;
}

